{% extends "base.html" %} {% block title %}BlueStore Home{% endblock %} {% block content
    %}
    <br>
    <br>
    <section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
      <div class="container">
          <div class="d-sm-flex align-items-center justify-content-between">
              <div>
                  <h1><span class="text-primary">
                      Welcome to the BlueStore!!!
                  </span></h1>
                  <p class="lead my-4">
                      Powered by the Blue Team!!
                  </p>
                  <a href="/login" class="btn btn-primary mt-3">
                    <i class="bi bi-chevron-right"></i> Login Now!!
                </a>
              </div>
              <img src="static/images/bluegirl.jpg" style="height: 100"alt="">
          </div>
      </div>
  </section>

  <!--Newsletter and form-->
  <section class="bg-primary text-light p-5">
      <div class="container" >
          <div class="d-md-flex justify-content-between align-items-center">
              <h3 class="mb-3 mb-md-0" align="center">Here is where all the fun begins!</h3>                
          </div>
      </div>
  </section>

  <!--Boxes-->
<section class="p-5">
  <div class="container">
      <div class="row text-center g-4">
          <div class="col-md">
              <div class="card bg-dark text-light">
                  <div class="card-body text center">
                      <div class="h1 mb-3">
                          <i class="bi bi-bag-dash"></i>
                      </div>
                      <h3 class="card-title mb-3">
                          Mens
                      </h3>
                      <p class="card-text">
                          Here you can find all the Men's clothing!!
                      </p>
                      <a href="/mens.html" class="btn btn-primary mt-3">
                          <i class="bi bi-chevron-right"></i> Mens
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-md">
              <div class="card bg-primary text-light">
                  <div class="card-body text center">
                      <div class="h1 mb-3">
                          <i class="bi bi-bag-fill"></i>
                      </div>
                      <h3 class="card-title mb-3">
                          Womens
                      </h3>
                      <p class="card-text">
                          Here you can find all the Women's clothing!!
                      </p>
                      <a href="/womens.html" class="btn btn-dark mt-3">
                          <i class="bi bi-chevron-right"></i> Womens
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-md">
              <div class="card bg-dark text-light">
                  <div class="card-body text center">
                      <div class="h1 mb-3">
                          <i class="bi bi-bag-check"></i>
                      </div>
                      <h3 class="card-title mb-3">
                          Shoes
                      </h3>
                      <p class="card-text">
                          All the shoes for Men and Women are here!!
                      </p>
                      <a href="/shoes.html" class="btn btn-primary mt-3">
                          <i class="bi bi-chevron-right"></i> Shoes
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>

</section>

<!--Question Accordion-->

<section class="bg-primary text-dark p-5">
  <h2 class="text-center">
    Frequently Asked Questions
</h2>

<div class="container mt-5">
    <div
        class="accordion accordion-flush mt-4"
        id="accordionExample"
    >
        <div class="accordion-item">
            <h2
                class="accordion-header"
                id="headingTwo"
            >
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                >
                    What are the benefits of becoming a member?
                </button>
            </h2>

            <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample"
            >
                <div
                    class="accordion-body"
                >
                    You will get free shipping on orders.
                    You will recieve discounts in your email.
                    You will earn free clothes!!!
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2
                class="accordion-header"
                id="headingOne"
            >
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="false"
                    aria-controls="collapseOne"
                >
                    Can I order without becoming a member?
                </button>
            </h2>
            <div
                id="collapseOne"
                class="accordion-collapse collapse"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample"
            >
                <div
                    class="accordion-body"
                >
                    Yes you can, but why would you want to?
                    You could be enjoying the benefits of being a member!!
                </div>
            </div>
        </div>
        <div class="accordion-item">
          <h2
              class="accordion-header"
              id="headingThree"
          >
              <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
              >
                  How do I Sign Up to become a member?
              </button>
          </h2>

          <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
          >
              <div
                  class="accordion-body"
              >
                  Just go to the sign up page and sign up, we will handle the rest!!
              </div>
          </div>
      </div>
      <div class="accordion-item">
        <h2
            class="accordion-header"
            id="headingFour"
        >
            <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
            >
                Does membership cost?
            </button>
        </h2>

        <div
            id="collapseFour"
            class="accordion-collapse collapse"
            aria-labelledby="headingFour"
            data-bs-parent="#accordionExample"
        >
            <div
                class="accordion-body"
            >
                No!! It is totally free and you get free stuff!!
            </div>
        </div>
    </div>
    </div>
</div>
<script 
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js">
</script>
</section>
  
<!--Learn Section-->
<section id="learn" class="p-5 text-dark">
  <div class="container">
      <div class="row align-items-center justify-content-between">
          <div class="col-md">
              <img src="static/images/blueguy.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md p-5">
              <h2>Become a member</h2>
              <p class="lead">
                  Sign Up
              </p>
              <p>
                  Learn all the benefits
              </p>
              <a href="/sign_up" class="btn btn-primary mt-3">
                <i class="bi bi-chevron-right"></i> Sign Up Now!!
            </a>
          </div>
      </div>
  </div>
</section>
{% endblock %}