{% extends "base.html" %} {% block title %}BlueStore Home{% endblock %} {% block content
    %}
    <section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
      <div class="container">
          <div class="d-sm-flex align-items-center justify-content-between">
              <div>
                  <h1><span class="text-primary">
                      Welcome to the BlueStore!!!
                  </span></h1>
                  <p class="lead my-4">
                      Powered by the Blue Team!!
                  </p>
                  <a href="/login" class="btn btn-primary btn-lg active mt-3">
                    <i class="bi bi-journal-check"></i> Login Now!!
                </a>
              </div>
              <img src="static/images/bluegirl.jpg" height="550px" width="400px" alt="">
          </div>
      </div>
  </section>

  <!--Bottom part of head section-->
  <section class="bg-primary text-dark p-5">
      <div class="container" >
          <div class="d-md-flex justify-content-between align-items-center">
              <h3 class="mb-3 mb-md-0" align="center">Sign Up for Blue, Black, or White Level <a href="/members.html" style="text-decoration:none; color: white;">Memberships </a>and Start Recieving Discounts Today</h3>                
          </div>
      </div>
  </section>

  <!--Boxes-->
<section class="p-5">
  <div class="container">
      <div class="row text-center g-4">
          <div class="col-md">
              <div class="card bg-dark text-light">
                  <div class="card-body text center">
                      <div class="h1 mb-3">
                          <i class="bi bi-bag-dash"></i>
                      </div>
                      <h3 class="card-title mb-3">
                          Mens
                      </h3>
                      <br>
                      <br>
                      <div class="col-md">
                        <a href="/static/images/mensClothes/Gucci1men.jpeg"><img src="static/images/mensClothes/Gucci1men.jpeg" class="img-fluid" alt=""></a>
                    </div>
                    <br>
                      <a href="/mens.html" class="btn btn-primary mt-3">
                          <i class="bi bi-chevron-right"></i> Mens
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-md">
              <div class="card bg-primary text-light">
                  <div class="card-body text center">
                      <div class="h1 mb-3">
                          <i class="bi bi-bag-fill"></i>
                      </div>
                      <h3 class="card-title mb-3">
                          Womens
                      </h3>
                      <br>
                      <div class="col-md">
                        <a href="/static/images/womensClothes/Balenciaga4women.jpeg"><img src="static/images/womensClothes/Balenciaga4women.jpeg" class="img-fluid" alt=""></a>
                    </div>
                    <br>
                      <a href="/womens.html" class="btn btn-dark mt-3">
                          <i class="bi bi-chevron-right"></i> Womens
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-md">
              <div class="card bg-dark text-light">
                  <div class="card-body text center">
                      <div class="h1 mb-3">
                          <i class="bi bi-bag-check"></i>
                      </div>
                      <h3 class="card-title mb-3">
                          Shoes
                      </h3>
                      <div class="col-md">
                        <a href="/static/images/menShoes/kobeMen4atl.jpg"><img src="static/images/menShoes/kobeMen4atl.jpg" class="img-fluid" alt=""></a>
                      </div>
                      <div class="col-md">
                        <a href="/static/images/womenShoes/diorWomen4boot.jpg"><img src="static/images/womenShoes/diorWomen4boot.jpg" class="img-fluid" alt=""></a>
                      </div>
                      <a href="/shoes.html" class="btn btn-primary mt-3">
                          <i class="bi bi-chevron-right"></i> Shoes
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>

</section>

<!--Question Accordion-->

<section class="bg-primary text-dark p-5">
  <h2 class="text-center">
    Frequently Asked Questions
</h2>

<div class="container mt-5">
    <div
        class="accordion accordion-flush mt-4"
        id="accordionExample"
    >
        <div class="accordion-item">
            <h2
                class="accordion-header"
                id="headingTwo"
            >
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                >
                    What are the benefits of becoming a member?
                </button>
            </h2>

            <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample"
            >
                <div
                    class="accordion-body"
                >
                    We have 3 different levels of membership, Blue, Black, and White. Each with their own greatness. White has emailed discounts. Black has what White has to offer plus free shipping. Blue enjoys the comforts of Black plus a free clothing item of your choice site wide.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2
                class="accordion-header"
                id="headingOne"
            >
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="false"
                    aria-controls="collapseOne"
                >
                    Can I order without becoming a member?
                </button>
            </h2>
            <div
                id="collapseOne"
                class="accordion-collapse collapse"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample"
            >
                <div
                    class="accordion-body"
                >
                    Yes you can, but why would you want to?
                    You could be enjoying the benefits of being a member!!
                </div>
            </div>
        </div>
        <div class="accordion-item">
          <h2
              class="accordion-header"
              id="headingThree"
          >
              <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
              >
                  How do I Sign Up to become a member?
              </button>
          </h2>

          <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
          >
              <div
                  class="accordion-body"
              >
                  Just go to the sign up page, sign up and pay the one time membership fee and we will handle the rest!!
              </div>
          </div>
      </div>
      <div class="accordion-item">
        <h2
            class="accordion-header"
            id="headingFour"
        >
            <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
            >
                Do the memberships cost?
            </button>
        </h2>

        <div
            id="collapseFour"
            class="accordion-collapse collapse"
            aria-labelledby="headingFour"
            data-bs-parent="#accordionExample"
        >
            <div
                class="accordion-body"
            >
                Yes they do cost a one time memebrship fee but each would earn your money back plus more within the first year if you use the emailed discounts. Blue cost $199. Black cost $149. White comes in at a very economic friendly $99.
            </div>
        </div>
    </div>
    </div>
</div>
<script 
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js">
</script>
</section>
  
<!--Learn Section-->
<section id="learn" class="p-5 text-dark">
  <div class="container">
      <div class="row align-items-center justify-content-between">
          <div class="col-md">
              <img src="static/images/blueguy.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md p-5">
              <h2>Become a member</h2>
              <br>
              <p>
                <a href="/members.html" class="btn btn-outline-primary">
                    <i class="bi bi-chevron-right"></i> Learn all the Benefits!!
                </a>
              </p>
              <a href="/sign_up" class="btn btn-primary btn-lg active mt-3">
                <i class="bi bi-journal-arrow-up"></i> Sign Up Now!!
            </a>
          </div>
      </div>
  </div>
</section>
<div style="text-align: center">Not Affiliated with Gucci &copy, Balenciaga &copy, Prada &copy, Nike &copy, Adidas &copy, Yeezy &copy, Louis Vuitton &copy, or Christian Dior &copy.
{% endblock %}