{% extends "base.html" %} {% block title %}Mens Shoes{% endblock %}

{% block content %}

<section class="bg-light text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h3 style="font-size: 30px; text-align: center; font-weight: 400">
                <img src="/static/images/menShoes/balenciagaMen3boot.jpg" height="400px" width="250px" alt="">
                <h1><span class="fs-4">
                    Balenciaga Boot
                </span></h1>
                <p class="lead my-4">
                    Price: $750
                </p>
                <a href="/cart.html" class="btn btn-primary btn-lg active mt-3">
                    <i class="bi bi-cart-check"></i> Add to Cart
                </a>
                
            </div>
            <div>
                <h3 style="font-size: 30px; text-align: center; font-weight: 400">
                <img src="/static/images/menShoes/diorMen4boot.jpg" height="400px" width="250px" alt="">
                <h1><span class="fs-4">
                    Dior Boot
                </span></h1>
                <p class="lead my-4">
                    Price: $825
                </p>
                <a href="/cart.html" class="btn btn-primary btn-lg active mt-3">
                    <i class="bi bi-cart-check"></i> Add to Cart
                </a>
                
            </div>
            <div>
                <h3 style="font-size: 30px; text-align: center; font-weight: 400">
                <img src="/static/images/menShoes/gucciMen2boot.jpg" height="400px" width="250px" alt="">
                <h1><span class="fs-4">
                    Gucci Boot
                </span></h1>
                <p class="lead my-4">
                    Price: $1500
                </p>
                <a href="/cart.html" class="btn btn-primary btn-lg active mt-3">
                    <i class="bi bi-cart-check"></i> Add to Cart
                </a>
                
            </div>
        </div>
    </div>
</div>
</section>
   <section class="bg-light text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h3 style="font-size: 30px; text-align: center; font-weight: 400">
                <img src="/static/images/menShoes/louisMen5boot.jpg" height="400px" width="250px" alt="">
                <h1><span class="fs-4">
                    Louis Vuiton Boot
                </span></h1>
                <p class="lead my-4">
                    Price: $1500
                </p>
                <a href="/cart.html" class="btn btn-primary btn-lg active mt-3">
                    <i class="bi bi-cart-check"></i> Add to Cart
                </a>
                
            </div>
            <div>
                <h3 style="font-size: 30px; text-align: center; font-weight: 400">
                <img src="/static/images/menShoes/pradaMen1boot.jpg" height="400px" width="250px" alt="">
                <h1><span class="fs-4">
                    Prada Boot
                </span></h1>
                <p class="lead my-4">
                    Price: $900
                </p>
                <a href="/cart.html" class="btn btn-primary btn-lg active mt-3">
                    <i class="bi bi-cart-check"></i> Add to Cart
                </a>
                
            </div>
        </div>
    </div>
  </section>
</form>

{% endblock %}




