{% extends "base.html" %} {% block title %}Womens Page{% endblock %} {% block content
    %}

    <br>
    <br>
    <br>

    <header>
        <h1>Women's Clothing</h1>
    </header>
    
    <section class="p-5">
        <div class="container">
            <div class="row text-center g-4">
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text center">
                            <div class="h1 mb-3">
                                <i class="bi bi-bag-dash"></i>
                            </div>
                            <h3 class="card-title mb-3">
                                Shirts and Pants 
                            </h3>
                            <p class="card-text">
                                Here you can find all the Women's Clothes!!
                            </p>
                            <a href="/itemWBT.html" class="btn btn-primary mt-3">
                                <i class="bi bi-chevron-right"></i> Shirts/Pants
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text center">
                            <div class="h1 mb-3">
                                <i class="bi bi-bag-check"></i>
                            </div>
                            <h3 class="card-title mb-3">
                                Shoes
                            </h3>
                            <p class="card-text">
                                All the shoes for Women's are here!!
                            </p>
                            <a href="/itemWSD.html" class="btn btn-primary mt-3">
                                <i class="bi bi-chevron-right"></i> Shoes
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    {% endblock %}